<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{{ title }}</title>
    <link rel="canonical" href="{{ page.url | url }}" />
    <meta name="keywords" content="{{ tags }}">
  </head>
  <body>
    <div>{{ content | safe }}</div>
  </body>
</html>
